body {
    background: radial-gradient(circle, rgba(152,165,255,1) 0%, rgba(85,85,189,1) 30%, rgba(39,39,131,1) 74%, rgba(6,3,57,1) 100%);
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#media-list {
    align-items: self-start;
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.collection {
    margin-bottom: 32px;
}

.title {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
}

/* Tile Styles */

.media-tiles {
    display: flex;
}

.tile {
    background: linear-gradient(126deg, rgba(93,93,93,1) 0%, rgba(0,0,0,1) 100%);
    border: 1px solid black;
    border-radius: 5px;
    height: 140px;
    margin-right: 16px;
    width: 249px;
    position: relative;
}

.tile.focused {
    border: 1px solid white;
    transform: scale(1.05);
}

.tile-image {
    border-radius: 5px;
    height: 100%;
}

.next-tile-overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

.next-tile-overlay::before {
    content: ">";
    color: white;
    font-size: 32px;
    position: absolute;
    top: 45px;
    left: 20px;
}

/* Modal Styles */

#media-modal {
    background: black;
    border-radius: 15px;
    height: 325px;
    width: 500px;
    position: fixed;
    top: calc(50vh - 162.5px);
    left: calc(50vw - 250px);
    opacity: 0;
    transition: opacity 0.4s;
}

.video-art, .background-image {
    border-radius: 15px 15px 0 0;
}

.media-data {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    margin-top: 8px;
}

.media-rating {
    border: 1px solid white;
    border-radius: 4px;
    width: fit-content;
    padding: 2px;
}